# Node modules directory
node_modules/

# Environment variables file
.env


# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Mac system files
.DS_Store

# IDE directories
.vscode/
.idea/
